<div class="quiz">
    <ng-container *ngIf="QuizService.error(); else mainQuizContent">
        <div class="error">
            {{ QuizService.error() }}
        </div>
    </ng-container>

    <ng-template #mainQuizContent>
        <ng-container *ngIf="QuizService.showResult(); else questionContent">
            <div class="results">
                <div class="congratulations">
                    Congratulations
                </div>
                <div class="results-info">
                    <p>You Have Completed The Quiz.</p>
                    <p>You've got {{ QuizService.correctAnswerCount() }} of {{ QuizService.questions().length }} right.
                    </p>
                    <button (click)="QuizService.restart()" class="next-button">Restart</button>
                </div>
            </div>
        </ng-container>

        <ng-template #questionContent>
            <div>
                <div class="score">
                    Question {{ QuizService.currentQuestionIndex() + 1 }} of {{ QuizService.getMockQuestions().length }}
                </div>
            </div>
            <app-question></app-question>
            <div *ngIf="QuizService.currentAnswer() && QuizService.questions().length > 0">
                <button (click)="QuizService.goToNextQuestion()" class="next-button">
                    Next Question
                </button>
            </div>
        </ng-template>
    </ng-template>
</div>